@using Web.Services
@inject IWeatherService weatherService
@{
    var weatherForecast = await weatherService.GetWeatherForecastAsync();
}

<div class="text-center">
    <h1>Weather</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>Temp Cel</th>
            <th>Temp Far</th>
            <th>Summary</th>
        </tr>
        @await foreach (var weatherItem in weatherForecast)
        {
            if (weatherItem is not null)
            {
                <tr>
                    <td>@weatherItem.Date</td>
                    <td>@weatherItem.TemperatureC</td>
                    <td>@weatherItem.TemperatureF</td>
                    <td>@weatherItem.Summary</td>
                </tr>
            }
        }
    </table>
</div>